<app-not-found [visible]="!cart || cart.items.length<=0"
    notFoundMessage="cart page is empty" rsetLinkText="Go to home page"
    >
</app-not-found>


<div *ngIf="cart && cart.items.length >0" class="container">
    <div class="row">
<div class="col-lg-8 col-sm-11 mt-4 mx-0">
 <ul>
    
       
    <li *ngFor="let cartItem of cart.items">
        <div class="">
            <img class="img rounded-5 " [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
        </div>
        <div class=" ">
            <a class="text-dark px-5" routerLink="/food/{{cartItem.food.id}}">
            {{cartItem.food.name}}</a>
        </div>
        <div class="qt px-5">
            <select class="" #quantitySelect (change)="changeQuantity(cartItem,quantitySelect.value)">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
            </select>
        </div>
        <div class="px-5">
            {{cartItem.price | currency}}
        </div>
        <div>
            <button class="remove-button btn btn-light mx-1 text-danger rounded-5"
            (click)="removeFromCart(cartItem)">
            Remove</button>
        </div>
    </li>
    
   
</ul>
</div>
<div class="col-lg-2 col-sm-7 px-5 mt-4">
<div class="checkout">
    <div>
        <div class="foods-count ">
           total items {{cart.items.length}}
        </div>
        <div class="total-price">
          total price  {{cart.totalPrice | currency}}
        </div>
    </div>
</div>
</div>
</div>
</div>